<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/de-vereniging" class="pa3 no-underline db">De vereniging</a></li>

		<li><a href="/lid-worden" class="pa3 no-underline db">Lid worden</a></li>

		<li><a href="/foto-album" class="pa3 no-underline db">Foto's</a></li>

		<li><a href="/donateur-worden" class="pa3 no-underline db">Donteur worden</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
